<p>
  <b>Descripcion:</b>
  <%=h @ubicacion.descripcion %>
</p>

<p>
  <b>Tel1:</b>
  <%=h @ubicacion.tel1 %>
</p>

<p>
  <b>Cel:</b>
  <%=h @ubicacion.cel %>
</p>

<p>
  <b>Email:</b>
  <%=h @ubicacion.email %>
</p>

<p>
  <b>Direccion:</b>
  <%=h @ubicacion.direccion %>
</p>


<%= link_to 'Edit', edit_ubicacion_path(@ubicacion) %> |
<%= link_to 'Back', ubicacions_path %>