<h1>Listing contactos</h1>

<table>
  <tr>
    <th>Apellido</th>
    <th>Nombre</th>
    <th>Email</th>
    <th>Consulta</th>
    <th>Tel</th>
    <th>Cabaña</th>
  </tr>

<% @contactos.each do |contactos| %>
  <tr>
    <td><%=h contactos.apellido %></td>
    <td><%=h contactos.nombre %></td>
    <td><%=h contactos.email %></td>
    <td><%=h contactos.consulta %></td>
    <td><%=h contactos.tel %></td>
    <td><%=h contactos.cabaña %></td>
    <td><%= link_to 'Show', contactos %></td>
    <td><%= link_to 'Edit', edit_contactos_path(contactos) %></td>
    <td><%= link_to 'Destroy', contactos, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New contactos', new_contactos_path %>