<p>
  <b>Apellido:</b>
  <%=h @contactos.apellido %>
</p>

<p>
  <b>Nombre:</b>
  <%=h @contactos.nombre %>
</p>

<p>
  <b>Email:</b>
  <%=h @contactos.email %>
</p>

<p>
  <b>Consulta:</b>
  <%=h @contactos.consulta %>
</p>

<p>
  <b>Tel:</b>
  <%=h @contactos.tel %>
</p>

<p>
  <b>Cabaña:</b>
  <%=h @contactos.cabaña %>
</p>


<%= link_to 'Edit', edit_contactos_path(@contactos) %> |
<%= link_to 'Back', contactos_path %>