<p>
  <b>Precio per base:</b>
  <%=h @tarifas.precio_per_base %>
</p>

<p>
  <b>Precio cab base:</b>
  <%=h @tarifas.precio_cab_base %>
</p>

<p>
  <b>Precio p dia:</b>
  <%=h @tarifas.precio_p_dia %>
</p>

<p>
  <b>Precio p semana:</b>
  <%=h @tarifas.precio_p_semana %>
</p>

<p>
  <b>Precio p fdslargo:</b>
  <%=h @tarifas.precio_p_fdslargo %>
</p>

<p>
  <b>Cabana:</b>
  <%=h @tarifas.cabana %>
</p>


<%= link_to 'Edit', edit_tarifas_path(@tarifas) %> |
<%= link_to 'Back', tarifas_path %>