<h1>Listing cabanas</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Servicios</th>
    <th>Descripcion</th>
  </tr>

<% @cabanas.each do |cabanas| %>
  <tr>
    <td><%=h cabanas.nombre %></td>
    <td><%=h cabanas.servicios %></td>
    <td><%=h cabanas.descripcion %></td>
    <td><%= link_to 'Show', cabanas_path %></td>
    <td><%= link_to 'Edit', edit_cabana_path(cabanas) %></td>
    <td><%= link_to 'Destroy', cabanas, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New cabana', new_cabana_path %>
