<div id="top-menu">
  <div class="menu">
    <ul>
      <li><%= link_to "Ubicacion", :controller => "home", :action => "ubicacions" %></li>
      <li><%= link_to "Servicios", :controller => "home", :action => "servicios" %></li>
      <li><%= link_to "Tarifas y Reservas", :controller => "home", :action => "tarifas" %></li>
      <li><%= link_to "Galeria", :controller => "home", :action => "galerias" %></li>
      <li><%= link_to "Contacto", :controller => "home", :action => "contactos" %></li>
    </ul>
  </div>
</div>
</div>